 <div aria-labelledby="navigation" class="collapse ">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="{{ url_for('customers.home') }}" class="nav-link active">Home</a></li>
            <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Fashion<b class="caret"></b></a>
              <ul class="dropdown-menu megamenu">
                <li>
                  <div class="row">
                    <div class="col-md-6 col-lg-3">
                      <h5>Womens Fashion</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Clothings</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Shoes</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Jewerly</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Hand bags $ wallets</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link"> Costumes $ accessories</a></li>

                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Mens Fashion</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Clothing</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Shoes</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Costumes $ Accessories</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Jewerly</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Boys Fashion</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Clothing</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Sandals</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Hiking shoes</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Casual</a></li>
                
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Wedding</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Trainers</a></li>
                        
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-lg-3">
                      <h5>Babys Fashion</h5>
                      <ul class="list-unstyled mb-3">

                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Girls Fashion</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Clothing</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Boys Fashion</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Clothing</a></li>
                
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Luggage$Travel gear</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Trainers</a></li>
                        
                      </ul>
                    </div>
                  </div>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Phone $ Tablets<b class="caret"></b></a>
              <ul class="dropdown-menu megamenu">
                <li>
                  <div class="row">
                    <div class="col-md-6 col-lg-3">
                      <h5>iphone</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">iphone x</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">iphone11 pro</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">iphone7</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Huawei</h5>
                      <ul class="list-unstyled mb-3">
                        
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Techno</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">phantomx</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Techno spark</a></li>
                
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>samsung</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Galaxy s4</a></li>
                        
                      </ul>
                    </div>
                  </div>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Electronics<b class="caret"></b></a>
              <ul class="dropdown-menu megamenu">
                <li>
                  <div class="row">
                    <div class="col-md-6 col-lg-3">
                      <h5>Home Audio</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Speakers</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Home Theatre systems</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Television and Video</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Television</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Dvd players</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Smart TVs</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Home Appliances</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Fridge</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Cookers</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Blenders and Mixers</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Rice cookers</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Water Dispensers</a></li>
                      </ul>
        
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Top electronic brands</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">lg</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Sonny</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Hisense</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">samsung</a></li>

                      </ul>
                      
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">Computing<b class="caret"></b></a>
              <ul class="dropdown-menu megamenu">
                <li>
                  <div class="row">
                    <div class="col-md-6 col-lg-3">
                      <h5>Laptops</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="" class="nav-link">Hp laptops</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Dell latpooks</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Notebooks</a></li>
                        <li class="nav-item"><a href="" class="nav-link">macbooks</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Acer laptops</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Computer accessories</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="" class="nav-link">Monitors</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Printers</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Scanners</a></li>
                        <li class="nav-item"><a href="" class="nav-link">External hard disk</a></li>
                        <li class="nav-item"><a href="" class="nav-link">mouse</a></li>
                        <li class="nav-item"><a href="" class="nav-link">laptop bags</a></li>

                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>computer data storage</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="" class="nav-link">USB flash disk</a></li>
                        <li class="nav-item"><a href="" class="nav-link">memeory cards</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Solid state drives</a></li>
                        
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Top brands</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="" class="nav-link">Macbook</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Dell</a></li>
                        <li class="nav-item"><a href="" class="nav-link">HP</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Acer</a></li>

            
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
             <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">others<b class="caret"></b></a>
              <ul class="dropdown-menu megamenu">
                <li>
                  <div class="row">
                    <div class="col-md-6 col-lg-3">
                      <h5>Gaming</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">Ps4</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">xbox</a></li>
                        <li class="nav-item"><a href="{{ url_for('customers.category') }}" class="nav-link">play station Vita</a></li>
                        

                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Musical instruments</h5>
                      <ul class="list-unstyled mb-3">
                        
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Books,movies and music</h5>
                      <ul class="list-unstyled mb-3">
                        
                
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Automobile</h5>
                      <ul class="list-unstyled mb-3">
                        
                      </ul>
                    </div>
                  </div>
              
                </li>

              </ul>
            </li>
            
          </ul>
          </div>
        </div>