{% extends 'admin/master.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron">
                    <h1>Customers</h1>
                    <p class="text-right" style="font-size:2em">{{ customer_number }} <small>customer(s)</small></p>
                </div>
            </div>            
            <div class="col-md-6">
                <div class="jumbotron">
                    <h1>Shops</h1>
                    <p class="text-right" style="font-size:2em">{{ shops_number }} <small>shop(s)</small></p>
                </div>
            </div>            
            <div class="col-md-6">
                <div class="jumbotron">
                    <h1>Sales</h1>
                    <p class="text-right" style="font-size:2em">  {{ sales_amount }} <small>Ugshs</small></p>
                </div>
            </div>            
            <div class="col-md-6">
                <div class="jumbotron">
                    <h1>Products</h1>
                    <p class="text-right" style="font-size:2em">{{ products_number }} <small>product(s)</small></p>
                    <small style="font-size:1.5em">{{ distinct_products }} different products, {{ products_available }} available, {{ products_sold }} sold </small>
                </div>
            </div>                      
                        
        </div>
    </div>
{% endblock %}